* {
  font-family: Cascadia Code PL;
  font-size: 13px;
  color: #afafaf;
  background: transparent;
}

#window {
  background: rgba(38, 43, 61, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  border: 5px solid #000000;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #1d2129;
}

#text {
  margin: 2px;
}